PORT=3001
SQL_SERVER=SRV-EnviosMail\\SQLEXPRESS
SQL_DATABASE=master
SQL_USER=tu_usuario
SQL_PASSWORD=tu_password

# Targets explícitos (MAIL-SYSTEM consulta SQL Server directamente)
PROD_DB_SERVER=DTTPROD
PROD_DB_NAME=master
PROD_DB_USER=tu_usuario_prod
PROD_DB_PASSWORD=tu_password_prod

TEST_DB_SERVER=DTTPRUEBA
TEST_DB_NAME=master
TEST_DB_USER=tu_usuario_prueba
TEST_DB_PASSWORD=tu_password_prueba

EXPRESS_DB_SERVER=SRV-EnviosMail\\SQLEXPRESS
EXPRESS_DB_NAME=master
EXPRESS_DB_USER=tu_usuario_express
EXPRESS_DB_PASSWORD=tu_password_express

# Lista opcional de SP por ambiente (separados por coma)
PROD_SP_LIST=SP_ENVIO_INFORMEPACIENTE_1
TEST_SP_LIST=SP_ENVIOMAILPERSONAL_PRUEBA
EXPRESS_SP_LIST=SP_MAILQUEUE_SEND
